{% extends "auctions/layout.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'auctions/product_cards.css' %}" type="text/css" >
{% endblock %}

{% block body %}
<h2>{{category}}</h2>

<div class="container" style="min-width: 95vw;">
    <div class="row">
        {% for listing in listings %}
            <div class="col-12 col-sm-8 col-md-6 col-lg-4" style="margin: 12px 0;">
                <a href="{% url 'listing' pid=listing.id %}" class="card-wrapper-link">
                    <div class="card">
                        {% if listing.image|length > 2 %}
                            <img class="card-img" src="{{listing.image}}" alt="Product Image">
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title">{{listing.title}}</h4>
                            <h6 class="card-subtitle mb-2 text-muted">{{listing.get_category_display}}</h6>
                            <p class="card-text">
                                {{listing.description}}
                            </p>
                            <div class="buy d-flex justify-content-between align-items-center">
                                <div class="price text-success">
                                    <h5>Price: $ {{listing.currentBid}} </h5>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Listed On {{listing.listedOn}}</small>
                        </div>
                    </div>
                </a>
                
            </div>
        {% empty %}
            <i>No Active Listing in this Category..</i>
        {% endfor %}

    </div>
</div>

{% endblock %}